sftp-nifi-hdfs/nifi-templates/demo.xml
<?xml version="1.0" encoding="UTF-8" standalone="yes"?><template><description>demo
</description><name>demo</name><snippet><connections><id>c00480a5-df77-4a41-b243-e42313536976</id><parentGroupId>f2b6f8b1-6ce2-4ea5-a4f9-fee07dd1ab91</parentGroupId><backPressureDataSizeThreshold>0 MB</backPressureDataSizeThreshold><backPressureObjectThreshold>0</backPressureObjectThreshold><destination><groupId>f2b6f8b1-6ce2-4ea5-a4f9-fee07dd1ab91</groupId><id>21b01cfa-649b-4990-8e7b-4cdeff1bff5c</id><type>PROCESSOR</type></destination><flowFileExpiration>0 sec</flowFileExpiration><labelIndex>1</labelIndex><name></name><selectedRelationships>success</selectedRelationships><source><groupId>f2b6f8b1-6ce2-4ea5-a4f9-fee07dd1ab91</groupId><id>a1d2ae45-6a31-4547-8f4c-04e5cbef0f18</id><type>PROCESSOR</type></source><zIndex>0</zIndex></connections><connections><id>fee0aab3-7a59-474c-a799-004d1b80184a</id><parentGroupId>f2b6f8b1-6ce2-4ea5-a4f9-fee07dd1ab91</parentGroupId><backPressureDataSizeThreshold>0 MB</backPressureDataSizeThreshold><backPressureObjectThreshold>0</backPressureObjectThreshold><destination><groupId>f2b6f8b1-6ce2-4ea5-a4f9-fee07dd1ab91</groupId><id>a1d2ae45-6a31-4547-8f4c-04e5cbef0f18</id><type>PROCESSOR</type></destination><flowFileExpiration>0 sec</flowFileExpiration><labelIndex>1</labelIndex><name></name><selectedRelationships>success</selectedRelationships><source><groupId>f2b6f8b1-6ce2-4ea5-a4f9-fee07dd1ab91</groupId><id>19226822-d380-40b1-a7d9-bd8e27c13acb</id><type>PROCESSOR</type></source><zIndex>0</zIndex></connections><connections><id>dc10ec99-2346-4741-9ca5-a391c2b126be</id><parentGroupId>f2b6f8b1-6ce2-4ea5-a4f9-fee07dd1ab91</parentGroupId><backPressureDataSizeThreshold>0 MB</backPressureDataSizeThreshold><backPressureObjectThreshold>0</backPressureObjectThreshold><destination><groupId>f2b6f8b1-6ce2-4ea5-a4f9-fee07dd1ab91</groupId><id>19226822-d380-40b1-a7d9-bd8e27c13acb</id><type>PROCESSOR</type></destination><flowFileExpiration>0 sec</flowFileExpiration><labelIndex>1</labelIndex><name></name><selectedRelationships>success</selectedRelationships><source><groupId>f2b6f8b1-6ce2-4ea5-a4f9-fee07dd1ab91</groupId><id>e072237f-1d7b-4205-9ae0-1d0827a86620</id><type>PROCESSOR</type></source><zIndex>0</zIndex></connections><processors><id>a1d2ae45-6a31-4547-8f4c-04e5cbef0f18</id><parentGroupId>f2b6f8b1-6ce2-4ea5-a4f9-fee07dd1ab91</parentGroupId><position><x>969.603086375083</x><y>258.13003293353705</y></position><config><annotationData>&lt;criteria&gt;
    &lt;flowFilePolicy&gt;USE_CLONE&lt;/flowFilePolicy&gt;
&lt;/criteria&gt;</annotationData><bulletinLevel>WARN</bulletinLevel><comments></comments><concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount><defaultConcurrentTasks><entry><key>TIMER_DRIVEN</key><value>1</value></entry><entry><key>EVENT_DRIVEN</key><value>0</value></entry><entry><key>CRON_DRIVEN</key><value>1</value></entry></defaultConcurrentTasks><defaultSchedulingPeriod><entry><key>TIMER_DRIVEN</key><value>0 sec</value></entry><entry><key>CRON_DRIVEN</key><value>* * * * * ?</value></entry></defaultSchedulingPeriod><descriptors><entry><key>Delete Attributes Expression</key><value><description>Regular expression for attributes to be deleted from flowfiles.</description><displayName>Delete Attributes Expression</displayName><dynamic>false</dynamic><name>Delete Attributes Expression</name><required>false</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>filename</key><value><description></description><displayName>filename</displayName><dynamic>true</dynamic><name>filename</name><required>false</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry></descriptors><lossTolerant>false</lossTolerant><penaltyDuration>30 sec</penaltyDuration><properties><entry><key>Delete Attributes Expression</key></entry><entry><key>filename</key><value>${filename:replace('.','')}</value></entry></properties><runDurationMillis>0</runDurationMillis><schedulingPeriod>0 sec</schedulingPeriod><schedulingStrategy>TIMER_DRIVEN</schedulingStrategy><yieldDuration>1 sec</yieldDuration></config><name>UpdateAttribute</name><relationships><autoTerminate>false</autoTerminate><description>All FlowFiles are routed to this relationship</description><name>success</name></relationships><state>STOPPED</state><style/><supportsEventDriven>true</supportsEventDriven><supportsParallelProcessing>true</supportsParallelProcessing><type>org.apache.nifi.processors.attributes.UpdateAttribute</type></processors><processors><id>e072237f-1d7b-4205-9ae0-1d0827a86620</id><parentGroupId>f2b6f8b1-6ce2-4ea5-a4f9-fee07dd1ab91</parentGroupId><position><x>409.0</x><y>80.95636749267578</y></position><config><bulletinLevel>DEBUG</bulletinLevel><comments></comments><concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount><defaultConcurrentTasks><entry><key>TIMER_DRIVEN</key><value>1</value></entry><entry><key>EVENT_DRIVEN</key><value>0</value></entry><entry><key>CRON_DRIVEN</key><value>1</value></entry></defaultConcurrentTasks><defaultSchedulingPeriod><entry><key>TIMER_DRIVEN</key><value>0 sec</value></entry><entry><key>CRON_DRIVEN</key><value>* * * * * ?</value></entry></defaultSchedulingPeriod><descriptors><entry><key>Hostname</key><value><description>The fully qualified hostname or IP address of the remote system</description><displayName>Hostname</displayName><dynamic>false</dynamic><name>Hostname</name><required>true</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>Port</key><value><defaultValue>22</defaultValue><description>The port to connect to on the remote host to fetch the data from</description><displayName>Port</displayName><dynamic>false</dynamic><name>Port</name><required>true</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>Username</key><value><description>Username</description><displayName>Username</displayName><dynamic>false</dynamic><name>Username</name><required>true</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>Password</key><value><description>Password for the user account</description><displayName>Password</displayName><dynamic>false</dynamic><name>Password</name><required>false</required><sensitive>true</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Private Key Path</key><value><description>The fully qualified path to the Private Key file</description><displayName>Private Key Path</displayName><dynamic>false</dynamic><name>Private Key Path</name><required>false</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Private Key Passphrase</key><value><description>Password for the private key</description><displayName>Private Key Passphrase</displayName><dynamic>false</dynamic><name>Private Key Passphrase</name><required>false</required><sensitive>true</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Remote Path</key><value><defaultValue>.</defaultValue><description>The path on the remote system from which to pull or push files</description><displayName>Remote Path</displayName><dynamic>false</dynamic><name>Remote Path</name><required>false</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>Distributed Cache Service</key><value><description>Specifies the Controller Service that should be used to maintain state about what has been pulled from the remote server so that if a new node begins pulling data, it won't duplicate all of the work that has been done. If not specified, the information will not be shared across the cluster. This property does not need to be set for standalone instances of NiFi but should be configured if NiFi is run within a cluster.</description><displayName>Distributed Cache Service</displayName><dynamic>false</dynamic><identifiesControllerService>org.apache.nifi.distributed.cache.client.DistributedMapCacheClient</identifiesControllerService><name>Distributed Cache Service</name><required>false</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Search Recursively</key><value><allowableValues><displayName>true</displayName><value>true</value></allowableValues><allowableValues><displayName>false</displayName><value>false</value></allowableValues><defaultValue>false</defaultValue><description>If true, will pull files from arbitrarily nested subdirectories; otherwise, will not traverse subdirectories</description><displayName>Search Recursively</displayName><dynamic>false</dynamic><name>Search Recursively</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>File Filter Regex</key><value><description>Provides a Java Regular Expression for filtering Filenames; if a filter is supplied, only files whose names match that Regular Expression will be fetched</description><displayName>File Filter Regex</displayName><dynamic>false</dynamic><name>File Filter Regex</name><required>false</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Path Filter Regex</key><value><description>When Search Recursively is true, then only subdirectories whose path matches the given Regular Expression will be scanned</description><displayName>Path Filter Regex</displayName><dynamic>false</dynamic><name>Path Filter Regex</name><required>false</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Ignore Dotted Files</key><value><allowableValues><displayName>true</displayName><value>true</value></allowableValues><allowableValues><displayName>false</displayName><value>false</value></allowableValues><defaultValue>true</defaultValue><description>If true, files whose names begin with a dot (&quot;.&quot;) will be ignored</description><displayName>Ignore Dotted Files</displayName><dynamic>false</dynamic><name>Ignore Dotted Files</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Strict Host Key Checking</key><value><allowableValues><displayName>true</displayName><value>true</value></allowableValues><allowableValues><displayName>false</displayName><value>false</value></allowableValues><defaultValue>false</defaultValue><description>Indicates whether or not strict enforcement of hosts keys should be applied</description><displayName>Strict Host Key Checking</displayName><dynamic>false</dynamic><name>Strict Host Key Checking</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Host Key File</key><value><description>If supplied, the given file will be used as the Host Key; otherwise, no use host key file will be used</description><displayName>Host Key File</displayName><dynamic>false</dynamic><name>Host Key File</name><required>false</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Connection Timeout</key><value><defaultValue>30 sec</defaultValue><description>Amount of time to wait before timing out while creating a connection</description><displayName>Connection Timeout</displayName><dynamic>false</dynamic><name>Connection Timeout</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Data Timeout</key><value><defaultValue>30 sec</defaultValue><description>When transferring a file between the local and remote system, this value specifies how long is allowed to elapse without any data being transferred between systems</description><displayName>Data Timeout</displayName><dynamic>false</dynamic><name>Data Timeout</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Send Keep Alive On Timeout</key><value><allowableValues><displayName>true</displayName><value>true</value></allowableValues><allowableValues><displayName>false</displayName><value>false</value></allowableValues><defaultValue>true</defaultValue><description>Indicates whether or not to send a single Keep Alive message when SSH socket times out</description><displayName>Send Keep Alive On Timeout</displayName><dynamic>false</dynamic><name>Send Keep Alive On Timeout</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry></descriptors><lossTolerant>false</lossTolerant><penaltyDuration>30 sec</penaltyDuration><properties><entry><key>Hostname</key><value>sftp</value></entry><entry><key>Port</key></entry><entry><key>Username</key><value>ajdream</value></entry><entry><key>Password</key></entry><entry><key>Private Key Path</key></entry><entry><key>Private Key Passphrase</key></entry><entry><key>Remote Path</key><value>./data</value></entry><entry><key>Distributed Cache Service</key></entry><entry><key>Search Recursively</key></entry><entry><key>File Filter Regex</key><value>req_.*</value></entry><entry><key>Path Filter Regex</key></entry><entry><key>Ignore Dotted Files</key></entry><entry><key>Strict Host Key Checking</key></entry><entry><key>Host Key File</key></entry><entry><key>Connection Timeout</key></entry><entry><key>Data Timeout</key></entry><entry><key>Send Keep Alive On Timeout</key></entry></properties><runDurationMillis>0</runDurationMillis><schedulingPeriod>0 sec</schedulingPeriod><schedulingStrategy>TIMER_DRIVEN</schedulingStrategy><yieldDuration>1 sec</yieldDuration></config><name>ListSFTP</name><relationships><autoTerminate>false</autoTerminate><description>All FlowFiles that are received are routed to success</description><name>success</name></relationships><state>STOPPED</state><style/><supportsEventDriven>false</supportsEventDriven><supportsParallelProcessing>false</supportsParallelProcessing><type>org.apache.nifi.processors.standard.ListSFTP</type></processors><processors><id>21b01cfa-649b-4990-8e7b-4cdeff1bff5c</id><parentGroupId>f2b6f8b1-6ce2-4ea5-a4f9-fee07dd1ab91</parentGroupId><position><x>965.8140869140625</x><y>80.05929565429688</y></position><config><bulletinLevel>WARN</bulletinLevel><comments></comments><concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount><defaultConcurrentTasks><entry><key>TIMER_DRIVEN</key><value>1</value></entry><entry><key>EVENT_DRIVEN</key><value>0</value></entry><entry><key>CRON_DRIVEN</key><value>1</value></entry></defaultConcurrentTasks><defaultSchedulingPeriod><entry><key>TIMER_DRIVEN</key><value>0 sec</value></entry><entry><key>CRON_DRIVEN</key><value>* * * * * ?</value></entry></defaultSchedulingPeriod><descriptors><entry><key>Hadoop Configuration Resources</key><value><description>A file or comma separated list of files which contains the Hadoop file system configuration. Without this, Hadoop will search the classpath for a 'core-site.xml' and 'hdfs-site.xml' file or will revert to a default configuration.</description><displayName>Hadoop Configuration Resources</displayName><dynamic>false</dynamic><name>Hadoop Configuration Resources</name><required>false</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Kerberos Principal</key><value><description>Kerberos principal to authenticate as. Requires nifi.kerberos.krb5.file to be set in your nifi.properties</description><displayName>Kerberos Principal</displayName><dynamic>false</dynamic><name>Kerberos Principal</name><required>false</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Kerberos Keytab</key><value><description>Kerberos keytab associated with the principal. Requires nifi.kerberos.krb5.file to be set in your nifi.properties</description><displayName>Kerberos Keytab</displayName><dynamic>false</dynamic><name>Kerberos Keytab</name><required>false</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Kerberos Relogin Period</key><value><defaultValue>4 hours</defaultValue><description>Period of time which should pass before attempting a kerberos relogin</description><displayName>Kerberos Relogin Period</displayName><dynamic>false</dynamic><name>Kerberos Relogin Period</name><required>false</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Directory</key><value><description>The parent HDFS directory to which files should be written</description><displayName>Directory</displayName><dynamic>false</dynamic><name>Directory</name><required>true</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>Conflict Resolution Strategy</key><value><allowableValues><displayName>replace</displayName><value>replace</value></allowableValues><allowableValues><displayName>ignore</displayName><value>ignore</value></allowableValues><allowableValues><displayName>fail</displayName><value>fail</value></allowableValues><defaultValue>fail</defaultValue><description>Indicates what should happen when a file with the same name already exists in the output directory</description><displayName>Conflict Resolution Strategy</displayName><dynamic>false</dynamic><name>Conflict Resolution Strategy</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Block Size</key><value><description>Size of each block as written to HDFS. This overrides the Hadoop Configuration</description><displayName>Block Size</displayName><dynamic>false</dynamic><name>Block Size</name><required>false</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>IO Buffer Size</key><value><description>Amount of memory to use to buffer file contents during IO. This overrides the Hadoop Configuration</description><displayName>IO Buffer Size</displayName><dynamic>false</dynamic><name>IO Buffer Size</name><required>false</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Replication</key><value><description>Number of times that HDFS will replicate each file. This overrides the Hadoop Configuration</description><displayName>Replication</displayName><dynamic>false</dynamic><name>Replication</name><required>false</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Permissions umask</key><value><description>A umask represented as an octal number which determines the permissions of files written to HDFS. This overrides the Hadoop Configuration dfs.umaskmode</description><displayName>Permissions umask</displayName><dynamic>false</dynamic><name>Permissions umask</name><required>false</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Remote Owner</key><value><description>Changes the owner of the HDFS file to this value after it is written. This only works if NiFi is running as a user that has HDFS super user privilege to change owner</description><displayName>Remote Owner</displayName><dynamic>false</dynamic><name>Remote Owner</name><required>false</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Remote Group</key><value><description>Changes the group of the HDFS file to this value after it is written. This only works if NiFi is running as a user that has HDFS super user privilege to change group</description><displayName>Remote Group</displayName><dynamic>false</dynamic><name>Remote Group</name><required>false</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Compression codec</key><value><allowableValues><displayName>NONE</displayName><value>NONE</value></allowableValues><allowableValues><displayName>DEFAULT</displayName><value>DEFAULT</value></allowableValues><allowableValues><displayName>BZIP</displayName><value>BZIP</value></allowableValues><allowableValues><displayName>GZIP</displayName><value>GZIP</value></allowableValues><allowableValues><displayName>LZ4</displayName><value>LZ4</value></allowableValues><allowableValues><displayName>SNAPPY</displayName><value>SNAPPY</value></allowableValues><allowableValues><displayName>AUTOMATIC</displayName><value>AUTOMATIC</value></allowableValues><defaultValue>NONE</defaultValue><description></description><displayName>Compression codec</displayName><dynamic>false</dynamic><name>Compression codec</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry></descriptors><lossTolerant>false</lossTolerant><penaltyDuration>30 sec</penaltyDuration><properties><entry><key>Hadoop Configuration Resources</key><value>/opt/hdfs/core-site.xml,/opt/hdfs/hdfs-site.xml</value></entry><entry><key>Kerberos Principal</key></entry><entry><key>Kerberos Keytab</key></entry><entry><key>Kerberos Relogin Period</key></entry><entry><key>Directory</key><value>/user/ajdream</value></entry><entry><key>Conflict Resolution Strategy</key></entry><entry><key>Block Size</key></entry><entry><key>IO Buffer Size</key></entry><entry><key>Replication</key></entry><entry><key>Permissions umask</key></entry><entry><key>Remote Owner</key></entry><entry><key>Remote Group</key></entry><entry><key>Compression codec</key></entry></properties><runDurationMillis>0</runDurationMillis><schedulingPeriod>0 sec</schedulingPeriod><schedulingStrategy>TIMER_DRIVEN</schedulingStrategy><yieldDuration>1 sec</yieldDuration></config><name>PutHDFS</name><relationships><autoTerminate>true</autoTerminate><description>Files that could not be written to HDFS for some reason are transferred to this relationship</description><name>failure</name></relationships><relationships><autoTerminate>true</autoTerminate><description>Files that have been successfully written to HDFS are transferred to this relationship</description><name>success</name></relationships><state>STOPPED</state><style/><supportsEventDriven>false</supportsEventDriven><supportsParallelProcessing>true</supportsParallelProcessing><type>org.apache.nifi.processors.hadoop.PutHDFS</type></processors><processors><id>19226822-d380-40b1-a7d9-bd8e27c13acb</id><parentGroupId>f2b6f8b1-6ce2-4ea5-a4f9-fee07dd1ab91</parentGroupId><position><x>411.0</x><y>259.0</y></position><config><bulletinLevel>WARN</bulletinLevel><comments></comments><concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount><defaultConcurrentTasks><entry><key>TIMER_DRIVEN</key><value>1</value></entry><entry><key>EVENT_DRIVEN</key><value>0</value></entry><entry><key>CRON_DRIVEN</key><value>1</value></entry></defaultConcurrentTasks><defaultSchedulingPeriod><entry><key>TIMER_DRIVEN</key><value>0 sec</value></entry><entry><key>CRON_DRIVEN</key><value>* * * * * ?</value></entry></defaultSchedulingPeriod><descriptors><entry><key>Hostname</key><value><description>The fully-qualified hostname or IP address of the host to fetch the data from</description><displayName>Hostname</displayName><dynamic>false</dynamic><name>Hostname</name><required>true</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>Port</key><value><defaultValue>22</defaultValue><description>The port to connect to on the remote host to fetch the data from</description><displayName>Port</displayName><dynamic>false</dynamic><name>Port</name><required>true</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>Username</key><value><description>Username</description><displayName>Username</displayName><dynamic>false</dynamic><name>Username</name><required>true</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>Password</key><value><description>Password for the user account</description><displayName>Password</displayName><dynamic>false</dynamic><name>Password</name><required>false</required><sensitive>true</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Private Key Path</key><value><description>The fully qualified path to the Private Key file</description><displayName>Private Key Path</displayName><dynamic>false</dynamic><name>Private Key Path</name><required>false</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Private Key Passphrase</key><value><description>Password for the private key</description><displayName>Private Key Passphrase</displayName><dynamic>false</dynamic><name>Private Key Passphrase</name><required>false</required><sensitive>true</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Remote File</key><value><description>The fully qualified filename on the remote system</description><displayName>Remote File</displayName><dynamic>false</dynamic><name>Remote File</name><required>true</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>Completion Strategy</key><value><allowableValues><description>Leave the file as-is</description><displayName>None</displayName><value>None</value></allowableValues><allowableValues><description>Move the file to the directory specified by the &lt;Move Destination Directory&gt; property</description><displayName>Move File</displayName><value>Move File</value></allowableValues><allowableValues><description>Deletes the original file from the remote system</description><displayName>Delete File</displayName><value>Delete File</value></allowableValues><defaultValue>None</defaultValue><description>Specifies what to do with the original file on the server once it has been pulled into NiFi. If the Completion Strategy fails, a warning will be logged but the data will still be transferred.</description><displayName>Completion Strategy</displayName><dynamic>false</dynamic><name>Completion Strategy</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Move Destination Directory</key><value><description>The directory on the remote server to the move the original file to once it has been ingested into NiFi. This property is ignored unless the Completion Strategy is set to &quot;Move File&quot;. The specified directory must already exist onthe remote system, or the rename will fail.</description><displayName>Move Destination Directory</displayName><dynamic>false</dynamic><name>Move Destination Directory</name><required>false</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>Connection Timeout</key><value><defaultValue>30 sec</defaultValue><description>Amount of time to wait before timing out while creating a connection</description><displayName>Connection Timeout</displayName><dynamic>false</dynamic><name>Connection Timeout</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Data Timeout</key><value><defaultValue>30 sec</defaultValue><description>When transferring a file between the local and remote system, this value specifies how long is allowed to elapse without any data being transferred between systems</description><displayName>Data Timeout</displayName><dynamic>false</dynamic><name>Data Timeout</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Send Keep Alive On Timeout</key><value><allowableValues><displayName>true</displayName><value>true</value></allowableValues><allowableValues><displayName>false</displayName><value>false</value></allowableValues><defaultValue>true</defaultValue><description>Indicates whether or not to send a single Keep Alive message when SSH socket times out</description><displayName>Send Keep Alive On Timeout</displayName><dynamic>false</dynamic><name>Send Keep Alive On Timeout</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Host Key File</key><value><description>If supplied, the given file will be used as the Host Key; otherwise, no use host key file will be used</description><displayName>Host Key File</displayName><dynamic>false</dynamic><name>Host Key File</name><required>false</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Strict Host Key Checking</key><value><allowableValues><displayName>true</displayName><value>true</value></allowableValues><allowableValues><displayName>false</displayName><value>false</value></allowableValues><defaultValue>false</defaultValue><description>Indicates whether or not strict enforcement of hosts keys should be applied</description><displayName>Strict Host Key Checking</displayName><dynamic>false</dynamic><name>Strict Host Key Checking</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Use Compression</key><value><allowableValues><displayName>true</displayName><value>true</value></allowableValues><allowableValues><displayName>false</displayName><value>false</value></allowableValues><defaultValue>false</defaultValue><description>Indicates whether or not ZLIB compression should be used when transferring files</description><displayName>Use Compression</displayName><dynamic>false</dynamic><name>Use Compression</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry></descriptors><lossTolerant>false</lossTolerant><penaltyDuration>30 sec</penaltyDuration><properties><entry><key>Hostname</key><value>sftp</value></entry><entry><key>Port</key></entry><entry><key>Username</key><value>ajdream</value></entry><entry><key>Password</key></entry><entry><key>Private Key Path</key></entry><entry><key>Private Key Passphrase</key></entry><entry><key>Remote File</key><value>${path}/${filename}</value></entry><entry><key>Completion Strategy</key></entry><entry><key>Move Destination Directory</key></entry><entry><key>Connection Timeout</key></entry><entry><key>Data Timeout</key></entry><entry><key>Send Keep Alive On Timeout</key></entry><entry><key>Host Key File</key></entry><entry><key>Strict Host Key Checking</key></entry><entry><key>Use Compression</key></entry></properties><runDurationMillis>0</runDurationMillis><schedulingPeriod>0 sec</schedulingPeriod><schedulingStrategy>TIMER_DRIVEN</schedulingStrategy><yieldDuration>1 sec</yieldDuration></config><name>FetchSFTP</name><relationships><autoTerminate>true</autoTerminate><description>Any FlowFile that could not be fetched from the remote server due to a communications failure will be transferred to this Relationship.</description><name>comms.failure</name></relationships><relationships><autoTerminate>true</autoTerminate><description>Any FlowFile for which we receive a 'Not Found' message from the remote server will be transferred to this Relationship.</description><name>not.found</name></relationships><relationships><autoTerminate>true</autoTerminate><description>Any FlowFile that could not be fetched from the remote server due to insufficient permissions will be transferred to this Relationship.</description><name>permission.denied</name></relationships><relationships><autoTerminate>false</autoTerminate><description>All FlowFiles that are received are routed to success</description><name>success</name></relationships><state>STOPPED</state><style/><supportsEventDriven>false</supportsEventDriven><supportsParallelProcessing>true</supportsParallelProcessing><type>org.apache.nifi.processors.standard.FetchSFTP</type></processors></snippet><timestamp>07/04/2016 04:46:21 UTC</timestamp></template>